*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg-container{
    height: 100vh;
    width: 100vw;
    background-color: bisque;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: rgb(245, 172, 172);
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}
.btn{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}
button{
    height: 30%;
    width: 30%;
    border-radius: 10px;
    background-color: grey;
    color: white;
    border: none;
}